# =========================
# Database Images & Configs
# =========================
POSTGRES_IMAGE_NAME=postgres:16-alpine
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_PORT=5433
POSTGRES_MULTIPLE_DATABASES=catalog_db,keycloak_db

MONGO_IMAGE_NAME=mongo:7.0
MONGO_USER=admin
MONGO_PASSWORD=admin123
MONGO_PORT=27018

MYSQL_IMAGE_NAME=mysql:8.0
MYSQL_ROOT_PASSWORD=root123
MYSQL_PORT=3307

MSSQL_IMAGE_NAME=mcr.microsoft.com/mssql/server:2022-latest
MSSQL_PORT=1434
MSSQL_PASSWORD=SqlServer123!

# =========================
# Cache & Messaging (Day 3)
# =========================
REDIS_IMAGE_NAME=redis:7.0-alpine
REDIS_PORT=6379
REDIS_PASSWORD=redis123

RABBITMQ_IMAGE_NAME=rabbitmq:3.11-management-alpine
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin123
RABBITMQ_CONNECT_PORT=5673
RABBITMQ_UI_PORT=15673
RABBITMQ_METRICS_PORT=15692

# =========================
# Identity & Security
# =========================
KEYCLOAK_IMAGE_NAME=quay.io/keycloak/keycloak:latest
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123
KEYCLOAK_PORT=8080
WEBHOOK_URL=

# =========================
# Storage / Object Store
# =========================
MINIO_IMAGE_NAME=minio/minio:latest
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9000
MINIO_UI_PORT=9001

# =========================
# Mail
# =========================
MAILHOG_IMAGE_NAME=mailhog/mailhog:latest
MAILHOG_SMTP_PORT=1025
MAILHOG_WEB_UI=8025

# =========================
# Search Engine
# =========================
ELASTIC_IMAGE_NAME=elasticsearch:8.11.0
ELASTIC_PORT=9200
ELASTIC_PASSWORD=elastic123

# =========================
# Monitoring
# =========================
PROMETHEUS_IMAGE_NAME=prom/prometheus:latest
PROMETHEUS_PORT=9090

GRAFANA_IMAGE_NAME=grafana/grafana:latest
GRAFANA_PORT=3000

CADVISOR_IMAGE_NAME=gcr.io/cadvisor/cadvisor:latest

# =========================
# Tracing
# =========================
OTEL_IMAGE_NAME=otel/opentelemetry-collector:latest
OTEL_PPROF_PORT=1888
OTEL_PROMETHEUS_METRICS_PORT=8888
OTEL_PROMETHEUS_EXPORTER_PORT=8889
OTEL_HEALTH_PORT=13133
OTEL_OTLP_GRPC_PORT=4317
OTEL_ZPAGES_PORT=55679

# =========================
# Logging
# =========================
LOKI_IMAGE_NAME=grafana/loki:latest
LOKI_PORT=3100

PROMTAIL_IMAGE_NAME=grafana/promtail:latest
PROMTAIL_SYSLOG_PORT=1514
PROMTAIL_HTTP_PORT=9080

TEMPO_IMAGE_NAME=grafana/tempo:latest
TEMPO_HTTP_API_PORT=3200

# =========================
# Admin / Ops
# =========================
PORTAINER_IMAGE_NAME=portainer/portainer-ce:latest
PORTAINER_PORT1=9000
PORTAINER_PORT2=9443
PORTAINER_PORT3=8000

# =========================
# Redis Insight (Optional)
# =========================
REDISINSIGHT_IMAGE_NAME=redis/redisinsight:latest
REDISINSIGHT_PORT=5540
